{% block body %}
	{% if {{ permission }} %}
	<h2>Track Progress for</h2>
	<h4>Group</h4>
	<p>Find a single rowers progress OR a groups<p>
	<table><tr> <td>
	<dt>Group or</dt>
	<select name=team>
		<option disabled placeholder>NONE</option>
		<option value="ALL">ACTIVE ROSTER</option>
		<option value="VAR">VARSITY</option>
		<option value="JVV">JUNIOR VARSITY</option>
		<option value="NOV">NOVICE</option>
		<option value="MEN">ALL MEN</option>
		<option value="WOM">ALL WOMEN</option>
		<option value="VMN">VARSITY MEN</option>
		<option value="VWN">VARSITY WOMEN</option>
		<option value="JVM">JV MEN</option>
		<option value="VWN">JV WOMEN</option>
		<option value="NMN">NOVICE MEN</option>
		<option value="NWN">NOVICE WOMEN</option>
	</select>
	</td> <td>
	<dt>Individual</dt>
	<select name=rower>
			<option disabled placeholder>None</option>
			<option value="CBL">Conor Luksik</option>
			<option value="JAH">Jack Hartege</option>
			<option value="LWQ">Luke Quiall</option>
			<option value="TRV">Trey Voelker</option>
			<option value="JSR">John Radnivak</option>
	</select>
	</td></tr></table>
	<h4>For Training Type</h4>
	<p>Choose the training type so that split times are comparable<p>
	<table> <tr> <td>
	<dt>Training Type</dt>
	<select name=training>
		<option disabled placeholder>No Training type</option>
		<option value="U1">U1 Training</option>
		<option value="U2">U2 Training</option>
		<option value="SS">All Steady State</option>
		<option value="AT">AT Training</option>
		<option value="T1">TR1 Training</option>
		<option value="T2">TR2 Training</option>
		<option value="SPR">All Sprint Training</option>
		<option value="2KT">2k Tests</option>
		<option value="5KT">5k Tests</option>
		<option value="TWN">Twenty Min Tests</option>
		<option value="500">500m Sprints</option>
		<option value="TEN">Ten Min Tests</option>
		<option value="WAT">Max Watt Tests</option>
	</select>
	</td> <td>
	<dt>Distance or Time</dt>
	<select name=distance>
		<option disabled placeholder>No Specification</option>
		<option value="2000">2000m</option>
		<option value="1000">1000m</option>
		<option value="5000">5000m</option>
		<option value="7500">7500m</option>
		<option value="10000">10000m</option>
		<option value="10M">10 minutes</option>
		<option value="20M">20 minutes</option>
		<option value="30M">30 minutes</option>
		<option value="45M">45 minutes</option>
		<option value="60M">1 Hour</option>
		<option value="15M">15 minutes</option>
		<option value="1500">1500m</option>
		<option value="500">500m</option>
	</select>
	</td> </tr> </table>
	<h4>Over Time</h4>
	
	{% endif %}
{% endblock %}