{% extends "layout.html" %}
{% block body %}
<h2>Roster Manager</h2>
<p>{{ message }}</p>
<h3>Add New Rower</h3>
<form action="{{ url_for('manage_rower')}}" method='post'>
	<input type=hidden name=add_change value=add>
	<table> <tr> <td>
		<dt>Name:</dt>
		<dd><input type=text size=25 name=firname placeholder='first'>
		<dd><input type=text size=25 name=lasname placeholder='last'>
	</td> <td>
		<dt>Gender:</dt>
		<input type=radio name="gender" value=m>male<br>
		<input type=radio name="gender" value=g>female
	</td> <td>
		<dt>Year:</dt>
		<input type=radio name="yeardes" value=h>Senior<br>
		<input type=radio name="yeardes" value=l>Junior<br>
		<input type=radio name="yeardes" value=f>Sophomore<br>
		<input type=radio name="yeardes" value=f>Freshman
	</td> <td>
		<dt>Height/Weight:</dt>
		<dd><input type=text size=25 name=height placeholder='height (inches)'>
		<dd><input type=text size=25 name=weight placeholder='weight (lbs)'>
	</td> </tr> </table>
	<dd><input type=submit value="Add To Roster">
</form>
<h3>Change Rower Stats</h3>
<form action="{{ url_for('manage_rower') }}" method="post">
	<input type=hidden name=add_change value=change>
	<table> <tr> <td>
	<dt>For:</dt>
	<select name=rower>
			<option disabled placeholder>PICK ROWER</option>
			<option value=KFD>Katie Dukovich</option>
			<option value=CBL>Conor Luksik</option>
			<option value=JAH>Jack Hartege</option>
			<option value=LWQ>Luke Quiall</option>
			<option value=TRV>Trey Voelker</option>
			<option value=JSR>Kelly Bittner</option>
		</select>
	</td><td>
	<dt>Change:</dt>
	<dd><select name=attrib>
		<option disabled placeholder>PICK ATTRIB.</option>
		<option value=1>2k PR</option>
		<option value=2>5k PR</option>
		<option value=3>20 min PR</option>
		<option value=4>Max Watts PR</option>
		<option value=5>weight</option>
		<option value=6>height</option>
		<option value=7>Team</option>
		<option value=8>weight designation</option>
		<option value=9>Active Status</option>
		<option value=10>Start Date</option>
		<option value=11>End Date</option>
	</td> <td>
	<dt>To:<dt>
	<dd><input type=text size=25 placeholder=replacement name=replacement>
	</td> </tr> <tr> <td>
	<dd><input type=submit value="Change">
	</td> </tr> </table>
</form>
<table> <tr> <td>
<form action="{{ url_for('rowerHome') }}" method=get>
	<dd><input type=submit value="BACK">
</form>
</td> <td>
<form action="{{ url_for('start') }}" method=get>
	<dd><input type=submit value="HOME">
</form>
</td> </tr> </table>
{% endblock %}